
@import 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/css/bootstrap.min.css';

@font-face {
  font-family: 'Fabrica';
  src: url('../assets/fonts/fabrica.eot');
  src: url('../assets/fonts/fabrica.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/fabrica.woff') format('woff'),
       url('../assets/fonts/fabrica.ttf') format('truetype'),
       url('../assets/fonts/fabrica.svg#Fabrica') format('svg');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Fabrica";
  font-weight: 300;
  background-color: #fff;
}

h1 {
  margin: 0;
  color: #2f3131;
}

.navbar_toggler{
  color:#cfcfca;
  padding-left:0;
}

.text-center{
  text-align: center;
}